/* index design */

.container,
.row,
.h2 {
    text-align: center;
}

.login-container {
    margin-top: 5%;
    margin-bottom: 5%;
}

.login-form-1 {
    padding: 5%;
    background: hwb(240 15% 58%);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-1 h3 {
    text-align: center;
    color: #09ef1c;
}

.login-form-2 {
    padding: 5%;
    background: #1b0316;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-2 h3 {
    text-align: center;
    color: #fff;
}

.login-container form {
    padding: 10%;
}

.btnSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.login-form-1 .btnSubmit {
    font-weight: 600;
    color: #0f020f;
    background-color: #0cfa67;
}

.login-form-2 .btnSubmit {
    font-weight: 600;
    color: #030c15;
    background-color: #08f437;
}

.login-form-2 .ForgetPwd {
    color: #f6faf8;
    font-weight: 600;
    text-decoration: none;
}

.login-form-1 .ForgetPwd {
    color: rgb(241, 12, 28);
    font-weight: 600;
    text-decoration: none;
}


/* Dashboard Design */